extends layout

block content
  div
    a(href="/newtodo")
      button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored") newTodo
    table(class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp")
      thead
        tr
          th Details
          th Date
          th Remove
      tbody
        each todo in todos
          tr
            td(class="mdl-data-table__cell--non-numeric")
              | #{todo.details}
            td
              | #{todo.initalData}
            td
              a(href="/removetodo/#{todo._id}", class="mdl-button mdl-js-button mdl-button--accent") remove
