doctype html
html
  head
    link(rel="stylesheet", href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/css/min.css")
    title=title
  body
    block content
    script(src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js")

