doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="Content-Type", content="text/html", charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport",content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet", href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/css/min.css")
    title=title
  body
    block content
    script(src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js")
    script(src="/js/app.js")

