block content
  dialog.mdl-dialog
    if invalid
      span(class="fail")= invalid
        form(method="post",action="/addtodo")
          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(class="mdl-textfield__input" type="text" id="todo" name="details")
              label(class="mdl-textfield__label" for="todo") todo details
          button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored") new todo
          a(href="/", class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent") cancelar
